<tr>
  <td> {{reading.code}}   </td>
  <td> {{reading.temperature}} </td>
  <td> {{reading.windSpeed}} </td>
  <td> {{reading.windDirection}} </td>
  <td> {{reading.pressure}} </td>
  <td> {{reading.longitude}} </td>
  <td> {{reading.latitude}} </td>
</tr>